@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  overflow-x: hidden;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
  .header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  .wrapper.nav {
    margin: 0 auto;
  }

  .ul-border {
    border: 1px solid #777;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 250px;
  }

  li {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
